################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OMC/FileContentIndex/baf60898-804d-4dcc-8837-e37fc031d43c.vsidx
/.vs/OMC/FileContentIndex/8352b27b-0d6e-4f74-b560-0e43f140e656.vsidx
/.vs/OMC/FileContentIndex/4ec51b1d-7403-4822-ac7f-032dd83a2570.vsidx
/.vs/OMC/FileContentIndex/364730fa-00f5-4033-9d96-d9b2bc4a76be.vsidx
/.vs/OMC/FileContentIndex
