/* _content/OMC/Pages/Shared/_Layout.cshtml.rz.scp.css */
*[b-0skwkyinnt] {
    font-family: 'Noto Sans Thai', sans-serif;
}
.navbar-brand[b-0skwkyinnt] {
    color: #662C03;
    font-size: 30px;
}
i[b-0skwkyinnt] {
    color: #662C03;
}
#Location_Text[b-0skwkyinnt] {
    color: #662C03;
    font-size:18px;
}
