* {
    font-family: 'Roboto', sans-serif;
}

.card {
}

.location {
    visibility: hidden;
}

.btn-outline-dark {
    background-color: #95573A;
    color: #fff;
}

.btn-hover-dark {
    color: #fff;
    background-color: #7C5645;
}
