@page
@model OMC.Pages.PaymentModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Order Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Payment.css" />

 
  
</head>
<body>
    <div class="container">
        <h1>Qr Code Payment</h1>
        <div class="checkmark-container">
            <div class="checkmark-stem"></div>
            <div class="checkmark-kick"></div>
        </div>

        <p>กรุณาแสกนเพื่อชำระเงิน</p>
  
        <a href="/index" class="btn btn-primary mt-3">กลับสู่หน้าหลัก</a>
    </div>

    <!-- Bootstrap 5 JS Bundle -->

 
 
    </body>
</html>

