@page
@model OMC.Pages.picturetestModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/images/h89cukbew0ny.webp" alt="Image 1" class="img-fluid">
        </div>
        <div class="col-sm-6">
            <img src="/images/Promotion.jpg" alt="Image 2" class="img-fluid">
        </div>
        <div class="col-sm-6">
            <img src="/images/Promotion1.jpg" alt="Image 3" class="img-fluid">
        </div>

    </div>
</div>
