@page
@model OMC.Pages.SuccessModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Order Page</title>
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lux.css" />
    <link rel="stylesheet" href="~/css/Success.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap" rel="stylesheet">

 
  
</head>
<body style="background-color: #EDD5C3;">
    <div class="container">
        <h1>ขอบคุณ</h1>
        <div class="success">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
            </svg>
            <p class="message">Success!</p>
        </div>



        <p>การสั่งซื้อของคุณเสร็จสิ้นแล้ว</p>
  
        <a href="/index" class="btn btn-primary mt-3">กลับสู่หน้าหลัก</a>
    </div>

    <!-- Bootstrap 5 JS Bundle -->

 
 
    </body>
</html>

