@page
@model OMC.Pages.waitingorderModel
@{
    ViewData["Title"] = "WaitingOrder";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lux.css" />
    <link rel="stylesheet" href="~/css/waitingorder.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container py-3 mb-5 h-100">
        <div class="con">
            <div class="row">
                <div class="cup">
                    <span class="steam"></span>
                    <span class="steam"></span>
                    <span class="steam"></span>
                    <div class="cup-handle"></div>

                </div>
            </div>
        </div>
        <div class="process my-4 d-flex justify-content-center">

            <h1>กำลังทำเครื่องดื่ม</h1>
        </div>
        <div class="process my-4 d-flex justify-content-center">
            <h1>รอรับเครื่องดื่มในอีก30วินาที</h1>
        </div>
        <div class="main my-4 mt-2 d-flex justify-content-center">
            <a class="btn btn-primary_wait" role="button" href="/Index">กลับสู่หน้าหลัก</a>
        </div>
        <h1>Current Queue: <span id="queuePosition"></span></h1>
    </div>

   
</body>
</html>